{$base_uri} {
  root _build/default/gui
  redir /api /api/
  proxy /api/ localhost:3000 {
    without /api
  }
  redir /swagger /swagger/
  proxy /swagger/ localhost:3001 {
    without /swagger
  }
}
