.headline {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.75rem;
  background-color: var(--light);
}

#main {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  width: 20rem;
  margin-left: 15px;
}

#sidebar ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom:0px;
}

#sidebar li + li ,
#sidebar li > ul {
  border-top: 1px solid rgba(0,0,0,.1);
}

#sidebar a {
  font-size: 1.1rem;
  font-weight: 500;
  cursor:pointer;
  display:block;
  color: inherit;
  width:100%;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}

#sidebar a:hover {
  text-decoration: underline;
}

#sidebar .active > a {
  background:var(--light);
}
